#footer_content
  #footer_inner_content
    %p
      = t('.copyright').html_safe
      = Time.now.year
      = RefinerySetting.get(:site_name)
      v#{RefinerySetting.get(:gardenia_version)}
      = link_to( "Design by Alexis", 'http://theauthorshop.com/' , :title => "Learn more about Designs by Alexis") 
      -#= link_to( image_tag("tas_bigger-35.png", :alt => "Design by Alexis logo"), 'http://theauthorshop.com/' , :title => "Learn more about Designs by Alexis") 
