<% content_for :body_content_left do %>

	<article id="news_item" class='clearfix'>
	  <header>
	    <h1><%= @news_item.title %></h1>
	    <details>
	      <time datetime="<%= @news_item.publish_date %>" class='posted_at'>
	        <%= t('.published', :when => l(@news_item.publish_date, :format => :long)) %>
	      </time>	  
	    </details>
	  </header>
	  
	  <section class='clearfix'>
		  <%= @news_item.body.html_safe %>
		</section>
	</article>

<% end %>

<% content_for :body_content_right, render(:partial => 'recent_posts') %>

<%= render :partial => "/shared/content_page", :locals => {:hide_sections => [:body_content_title]}   %>
