- content_for :body_content_left do
  .inquiries

    .modal-form.basic-form
      = form_for @inquiry do |f|
        = render :partial => "/shared/admin/error_messages", |
          :locals => {                                       |
            :object => @inquiry,                             |
            :include_object_name => true                     |
          }                                                  |
        %fieldset.modal-fieldset.clearfix2
          = f.label( :name, 'Name*', {:title => "Enter your first and last name"} ) 
          = f.text_field( :name )
          = f.label( :email, 'Email*', {:title => "Enter a valid email address so that we can respond"} )
          = f.text_field( :email )
          = f.label( :phone, 'Phone', {:title => "Optional phone number contact"} )
          = f.text_field( :phone )
          = f.label( :message, 'Message*', {:title => "Your request, message, or comment for us"} )
          = f.text_area( :message, :rows => 3)
          %br 
          %p *required; cursor any label for help
          = link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false)
          %br
          = recaptcha_tags( :display => { :theme => 'clean', :tabindex => 0 } )  # :ssl => true if using SSL
          = submit_tag( 'send', :class => "submit modal-submit", :value => "send" )
          -# .actions
            = f.submit t('.send')

  = raw @page[Page.default_parts.first.to_sym]
= render :partial => "/shared/content_page"
