!!!
= render :partial => "/shared/html_tag"
- site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true})
= render :partial => "/shared/head"
%body
  = render :partial => "gardenia_body_injection"  # GARDENIA additional stuff

  = site_bar
  = render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  
  -# --------------------------------------------------------------------------
  -# ****** vvvvvvvv GARDENIA STYLING vvvvvvv *********************************  

  #page_container
    #page
      
      - if RefinerySetting.get(:gardenia_hf_stretch) # select stretch headers/footers?

        %header#header
          = render :partial => "/shared/header"
        -# the following phantom div should not be required, but needed to prevent #body encompassing #footer .. haml issue?
        %div
          %section#body.clearfix
            = yield
        %footer#footer
          = render :partial => "/shared/footer"

      - else  # non-stretch *************************************************

        #body.clearfix
          %header#header
            = render :partial => "/shared/header"
          %section
            = yield
          %footer#footer
            = render :partial => "/shared/footer"
      = auto_discovery_link_tag(:rss, news_items_url(:format => 'rss'))
      
  -# ****** ^^^^^^^ GARDENIA STYLING ^^^^^^^ **********************************
  -# --------------------------------------------------------------------------
  
  = yield( :before_javascript_libraries )
  = render :partial => "/shared/javascripts"
  = yield( :after_javascript_libraries )
