!!!
-# set up variables used in other (later) views testing for banner-rotator
- # @use_rotator is true if the gem continaing banner-rotator is installed
- @use_rotator = Module.constants.include? 'BannerRotator'
- # @banner_gallery is list of page-images within the gallery
- @banner_gallery = ( @use_rotator ? get_banner_gallery( nil )  :  [] )
- # @need_banner will be true if banner-rotator installed and the gallery is non empty
- @need_banner =  ( @use_rotator && !@banner_gallery.empty? )

%html
  = render :partial => "/shared/head", :locals => {:theme => true}
  :javascript
    $(document).ready(function(){
    
    	$("ul.dropdown li").dropdown();
    	
    	#{'$(".container").wtRotator();' if @need_banner }
    
    });
    
    $.fn.dropdown = function() {
    
    	$(this).hover(function(){
    		$(this).addClass("hover");
    		$('> .dir',this).addClass("open");
    		$('ul:first',this).css('visibility', 'visible');
    	},function(){
    		$(this).removeClass("hover");
    		$('.open',this).removeClass("open");
    		$('ul:first',this).css('visibility', 'hidden');
    	});
    
    }

  %body
    = render :partial => "/shared/site_bar",   |
      :locals => {                             |
        :exclude_css => false,                 |
        :exclude_cornering_library => false,   |
        :exclude_site_bar_javascript => false, |
        :exclude_jquery => false               |
      }                                        |

    #page_container
      #page
        = render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/
        
        - if RefinerySetting.get(:gardenia_hf_stretch) # select stretch headers/footers?

          #header
            = render :partial => "/shared/header"
          -# the following phantom div should not be required, but needed to prevent #body encompassing #footer .. haml issue?
          %div
            #body.clearfix
              = yield
          #footer
            = render :partial => "/shared/footer"

        - else  # non-stretch

          #body.clearfix
            #header
              = render :partial => "/shared/header"
            = yield
            #footer
              = render :partial => "/shared/footer"
        = auto_discovery_link_tag(:rss, news_items_url(:format => 'rss'))
        
